<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<p>Does docker reload the files on refresh?</p>
<p>Out of the box it does not seem to.</p>
<p>But perhaps it's good now?</p>